html {
    height:100%;
    text-decoration: none;
}
body{
    min-height:100%;
    padding-top: 60px;
}

h1{
    margin: auto;
    text-align: center;
}

.header_nav{
    background-color: #9b9b9b;
    height: 60px;
}
article{
    background: rgb(165, 41, 41);
    color: white;
}
aside{
    background: rgb(48, 47, 44);
    color: rgb(243, 243, 243)
}
.color1{
    background: rgb(32, 51, 114);
    color: rgb(243, 243, 243);
}
.btn_nav:hover{
    background-color: #686767
}

.li_nav{
    padding: 0;
}

footer{
    background: rgb(94, 94, 94);
    color: white ;
    padding: 50px 0 0 0;
}

footer a{
    color: #ddd;
}

footer a:hover{
    color: #444;
}

#sub_footer{
    border-top: 1px solid #ddd;
    text-shadow: none;
    padding: 30px 0 30px 0;
    margin: 20px 0 0 0;
}

.copyright{
    text-align: left;
    font-size: 12px;
}

#error{
    text-align: center;
}

#nav_div{
    background-color: #686767;
    color: white;
    margin: 10px;
    padding: 10px;
    
}
#nav_div ul{
    list-style: none;
    padding: 0;
}
#nav_div a{
    color: #ddd;
    text-decoration: none;
}

#nav_div a:hover{
    color: #444;
}

.content{
 padding: 10px;
}

.btn_submit{
    background-color: #686767;
    color: white;
}
.btn_submit:hover{
    background-color: #444;
}

#men_obl{
    text-align: center;
}