    <footer>
        <div class="container">
            <div id="sub_footer" class="row">
                <div class=" col-md-12">
                    <div class="copyright">
                        <p>&copy; alemando - All Rigths Reserved</p>
                        <div class="credits">
                            Designed by 
                            <a href="https://github.com/alemando">Alejandro Jimenez Franco</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>