<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8">
    <title>NODEVTDEA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.ico" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="../css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top header_nav">
            <a class="navbar-brand" href="/">
                <img src="../img/vtdeaBrand.png" width="44" height="44" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav mr-auto">
                    <li class="li_nav nav-item active">
                        <a class="btn_nav btn nav-link" href="/">Inicio</a>
                    </li>
                    {{#if sesion}}
                    <li class="li_nav nav-item">
                        <a class="btn_nav btn nav-link" href="../cursos">Cursos</a>
                    </li>
                    {{/if}}
                </ul>
                {{#if sesion}}
                <ul class="navbar-nav ml-auto">
                    <li class="li_nav nav-item dropdown">
                        <a class="btn_nav nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{name}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <form action="/" method="POST">
                            <button class="dropdown-item" href="#">Cerrar sesion</button>
                        </form>
                        </div>
                    </li>
                </ul>
                {{else}}
                <ul class="navbar-nav ml-auto">
                    <li class="li_nav nav-item">
                        <a class="btn_nav btn nav-link" href="../login">Iniciar sesion</a>
                    </li>
                </ul>
                {{/if}}
            </div>
        </nav>
    </header>