<div id="sidebar" class="col-md-2 d-none d-lg-block">
    <div id="nav_div">
        <h4>Opciones</h4>
        <ul class="link-list">
            {{#if isCordinator}}
            <li>
                <a href="../cursos/crear">Crear curso</a>
            </li>
            {{/if}}
            <li>
                <a href="../cursos/">Ver cursos</a>
            </li>
            <li>
                <a href="../cursos/inscribir">Inscribir</a>
            </li>
            {{#if isCordinator}}
            <li>
                <a href="../cursos/inscritos">ver inscritos</a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>