{{>header}}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                {{>nav_div}}
                <div class="col-md-10">
                    <div class="row">
                        <h2>Ver cursos como coordinador</h2>
                        <div class="content table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Modalidad</th>
                                        <th scope="col">Intensidad</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{courses_table courses}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Ver cursos como interesado</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}