{{>header}}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                {{>nav_div}}
                <div class="col-md-10 content">
                    <div class="row">
                        <h2>Cursos</h2>
                    </div>
                    <div class="row">
                        <div class="content table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Modalidad</th>
                                        <th scope="col">Intensidad</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{courses_table courses}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card  block">
                                <h5 class="card-header">Cambiar estado</h5>
                                <div class="card-body">
                                    <form action="../cursos" class="form-horizontal" method="POST">
                                        <div class="row">
                                            <div class="form-group col-md">
                                                <label>Curso:</label>
                                                <select id="course" class="form-control" name="course" required>
                                                    <option></option>
                                                    {{options courses}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <button class="btn btn-lg btn-block btn_submit">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}