{{>header}}
    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bienvenido</h1>
                </div>
            </div>
            <section class="row">
                <article class="col-xs-12 col-sm-8 col-md-9">
                    <p> 
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti minus, soluta suscipit laudantium accusantium nobis voluptate quas provident perspiciatis modi fuga illum deleniti libero enim commodi voluptatem doloremque non nostrum!
                    </p>
                </article>
                <aside class="col-xs-12 col-sm-4 col-md-3">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est cupiditate beatae expedita eius quis rem facere, suscipit assumenda amet cumque quaerat accusantium quam minima, libero tempore exercitationem iure deserunt!
                    </p>
                </aside>
            </section>
            <div class="row">
                <div class="color1 col-xs-12 col-sm-6 col-md-3">
                    <p>
                        <h3>Columna</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est cupiditate beatae expedita eius quis rem facere, suscipit assumenda amet cumque quaerat accusantium quam minima, libero tempore exercitationem iure deserunt!
                    </p>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3">
                    <p>
                        <h3>Columna</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est cupiditate beatae expedita eius quis rem facere, suscipit assumenda amet cumque quaerat accusantium quam minima, libero tempore exercitationem iure deserunt!
                    </p>
                </div>

                <div class="color1 col-xs-12 col-sm-6 col-md-3 offset-md-3">
                    <p>
                        <h3>Columna</h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est cupiditate beatae expedita eius quis rem facere, suscipit assumenda amet cumque quaerat accusantium quam minima, libero tempore exercitationem iure deserunt!
                    </p>
                </div>
            </div>
        </div>
    </main>
{{>footer}}