{{>header}}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                {{>nav_div}}
                <div class="col-md-10">
                    <div class="content">
                        {{mensaje men}}
                        <form action="../cursos/inscribir" class="form-horizontal" method="POST">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>* Curso:</label>
                                    <select id="course" class="form-control" name="course" required>
                                        <option></option>
                                        {{options courses}}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <p id="men_obl">Campos marcados con (*) son obligatorios.</p>
                                    <button class="btn btn-lg btn-block btn_submit">Enviar</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}