{{>header}}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        {{mensaje men}}
                        <div id="login">
                            <div class="container">
                                <div id="login-row" class="row justify-content-center align-items-center">
                                    <div id="login-column" class="col-md-6">
                                        <div id="login-box" class="col-md-12">
                                            <form id="login-form" class="form" action="../login" method="post">
                                                <h3 class="text-center">Iniciar sesion</h3>
                                                <div class="form-group">
                                                    <label for="id">* Identificación: </label>
                                                    <input type="number" name="id" id="id" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" >* Contraseña:</label>
                                                    <input type="password" name="password" id="password" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <br>
                                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Iniciar sesion">
                                                </div>
                                                <div id="register-link" class="text-right">
                                                    <a href="../register">Registrese aquí</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}