{{>header}}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        {{mensaje men}}
                        <form action="../register" class="form-horizontal" method="POST">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>* Identificación:</label>
                                    <input id="id" class="form-control" type="number" name="id" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>* Nombre:</label>
                                    <input id="name" class="form-control" type="text" name="name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>* Email:</label>
                                    <input id="email" class="form-control" type="email" name="email" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>* Teléfono:</label>
                                    <input id="tel" class="form-control" type="number" name="tel" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>* Contraseña:</label>
                                    <input id="password" class="form-control" type="password" name="password" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <p id="men_obl">Campos marcados con (*) son obligatorios.</p>
                                    <button class="btn btn-lg btn-block btn_submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{>footer}}